.App {
  text-align: center;
  font-family: Montserrat, Avenir;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7CFC00	;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.detailedTable{
  text-align: center;
}
.exchange_buttons{
  border-radius: 10px;
  background-color: #7CFC00;
}
.title{
  font-weight: bold;
  
}
table{
  margin-left: auto;
  margin-right: auto;
  
}
th, td{
  padding: 10px;
}
.socialMedia{
  list-style: none;
}
.exchange_element{
  border: 1px solid black;
}

.main_page_buttons{
  background-color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
